body{
    background-size: cover;
}
.heading{
    font-family: 'Roboto Mono', monospace;
    margin-top: 0;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
#note_id{
    font-size: 15px;
    color: rgb(4, 4, 51);
}
.div_image
{
   width: 200px;
   border-radius: 100px;
}
.speed_controller_1
{
   float: left;
}
.volume_controller_1
{
    float: right;
}
.play_button
{
    width:130px;
    font-size:25px;
}
canvas
{
    border:5px solid white;
    border-radius: 20px;
}